adaptix==3.0.0b10
altgraph==0.17.4
apsw==3.49.1.0
asyncio==3.4.3
certifi==2025.4.26
charset-normalizer==3.4.2
colorama==0.4.6
dishka==1.5.3
dynaconf==3.2.10
guidata==3.1.0
h5py==3.13.0
idna==3.10
iniconfig==2.1.0
mutagen==1.47.0
numpy==2.2.5
packaging==25.0
pefile==2023.2.7
pillow==11.2.1
pluggy==1.5.0
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.3
pyside6==6.9.0
pyside6-addons==6.9.0
pyside6-essentials==6.9.0
pytest==8.3.5
pytest-asyncio==0.26.0
pythonqwt==0.14.5
pywin32-ctypes==0.2.3
qasync==0.27.1
qdarkstyle==3.2.3
qtpy==2.4.3
requests==2.32.3
scipy==1.15.2
setuptools==80.3.0
shiboken6==6.9.0
tomli==2.2.1
urllib3==2.4.0
